* { padding: 0; margin: 0; }

canvas {
     background: #eee; 
     display: block; 
     
     margin: 180px auto;
 }
.slider{
    position:absolute;
    bottom:10px;
    left:350px;
}
.counter{
    position:absolute;
    bottom:10px;
    left:450px;
}